.order {
  display: flex;
  flex-direction: column;
  max-width: 664px;
  margin: 60px;
}

.ingredients {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-height: 312px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--text-inactive-color) var(--background-element);
}

.ingredients::-webkit-scrollbar {
  width: 8px;
}
.ingredients::-webkit-scrollbar-track {
  background: var(--background-element);
}
.ingredients::-webkit-scrollbar-thumb {
  background-color: var(--text-inactive-color);
}

.ingredient {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-right: 24px;
}

.preview-container {
  position: relative;
  width: 64px;
  height: 64px;
  border-radius: 100px;
  background-image: linear-gradient(to right, #801ab2 0%, #4c4cff 100%);
}

.preview {
  position: absolute;
  object-fit: cover;
  background-color: var(--background-alt);
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 100px;
}

.price {
  display: flex;
  gap: 8px;
}

.amount {
  margin-left: auto;
}

.total {
  display: flex;
  justify-content: space-between;
}

.done {
  color: var(--colors-interface-success);
}