.list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: calc(100vh - 188px);
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--text-inactive-color) var(--background-element);
  position: relative;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 24px;
  background-color: var(--background);
  border-radius: 40px;
  max-width: 584px;
}

.id {
  display: flex;
  justify-content: space-between;
}

.components {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  overflow: hidden;
}

.ingredients {
  list-style: none;
  display: flex;
}

.ingredient {
  position: relative;
  width: 64px;
  height: 64px;
  border-radius: 100px;
  background-image: linear-gradient(to right, #801ab2 0%, #4c4cff 100%);
  z-index: 1;
}

.preview {
  position: absolute;
  object-fit: cover;
  background-color: var(--background-alt);
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 100px;
}

.price {
  display: flex;
  gap: 8px;
}
